{% extends 'security.html.twig' %}

{% block body %}


     <form action="{{ path('login_page') }}" method="post" class="form-signin text-center" >

         <img class="mb-4" src="img/lock-icon.png" alt="" width="200" height="150">
         <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

         {% if error %}
             <div class="alert alert-danger mt-3">
             {{ error.messageKey|trans(error.messageData, 'security') }}
             </div>
             <br>
         {% endif %}
         <input type="email" id="username" name="_username" class="form-control"  placeholder="Email address" required autofocus>

         <input type="password" id="password" name="_password" class="form-control"   placeholder="Password" required >

         <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Sign in</button>
     </form>
    <br>
{% endblock %}